.lit-block-wrapper {
    position: relative;
}

.lit-block-wrapper .lit-block-footer {
    text-align: right;
    font-size: 0.8em;
    position: absolute;
    bottom: -0.7em;
    right: 0.5em;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.39);
    background-color: #3e3d35;
    border-radius: 0.3em;
    padding: 0 0.3em;
}

.lit-block-wrapper .lit-block-footer .lit-name {
    color: rgba(0, 0, 0, 0.94);
}
